{
        "firewall": {
                "all-ping": "enable",
                "broadcast-ping": "disable",
                "group": {
                        "address-group": {
                                "5f39b7ca7135201482407115": {
                                        "address": [
                                                "10.0.30.62"
                                        ],
                                        "description": "customized-Arkserver"
                                },
                                "authorized_guests": {
                                        "description": "authorized guests MAC addresses"
                                },
                                "guest_allow_dns_servers": {
                                        "description": "allow dns servers for guests"
                                },
                                "guest_portal_address": {
                                        "description": "guest portal address"
                                },
                                "guest_pre_allow": {
                                        "description": "allow addresses for guests"
                                },
                                "guest_restricted": {
                                        "address": [
                                                "192.168.0.0/16",
                                                "10.0.0.0/8",
                                                "172.16.0.0/12"
                                        ],
                                        "description": "restricted addresses for guests"
                                },
                                "unifi_controller_addresses": {
                                        "address": [
                                                "10.0.4.10"
                                        ]
                                }
                        },
                        "ipv6-network-group": {
                                "corporate_networkv6": {
                                        "description": "IPv6 corporate subnets"
                                },
                                "guest_networkv6": {
                                        "description": "IPv6 guest subnets"
                                }
                        },
                        "network-group": {
                                "captive_portal_subnets": {
                                        "description": "captive portal subnets"
                                },
                                "corporate_network": {
                                        "description": "corporate subnets",
                                        "network": [
                                                "10.0.4.0/24",
                                                "10.0.30.0/24",
                                                "10.0.20.0/24",
                                                "10.0.10.0/24",
                                                "10.0.60.0/24"
                                        ]
                                },
                                "guest_network": {
                                        "description": "guest subnets"
                                },
                                "remote_client_vpn_network": {
                                        "description": "remote client VPN subnets"
                                },
                                "remote_site_vpn_network": {
                                        "description": "remote site VPN subnets"
                                },
                                "remote_user_vpn_network": {
                                        "description": "Remote User VPN subnets",
                                        "network": [
                                                "10.0.50.0/24"
                                        ]
                                }
                        },
                        "port-group": {
                                "guest_portal_ports": {
                                        "description": "guest portal ports"
                                },
                                "guest_portal_redirector_ports": {
                                        "description": "guest portal redirector ports",
                                        "port": [
                                                39080,
                                                39443
                                        ]
                                },
                                "unifi_controller_ports-tcp": {
                                        "description": "unifi tcp ports",
                                        "port": [
                                                8080
                                        ]
                                },
                                "unifi_controller_ports-udp": {
                                        "description": "unifi udp ports",
                                        "port": [
                                                3478
                                        ]
                                }
                        }
                },
                "ipv6-name": {
                        "AUTHORIZED_GUESTSv6": {
                                "default-action": "drop",
                                "description": "authorization check packets from guest network"
                        },
                        "GUESTv6_IN": {
                                "default-action": "accept",
                                "description": "packets from guest network",
                                "rule": {
                                        "3001": {
                                                "action": "drop",
                                                "description": "drop packets to intranet",
                                                "destination": {
                                                        "group": {
                                                                "ipv6-network-group": "corporate_networkv6"
                                                        }
                                                }
                                        }
                                }
                        },
                        "GUESTv6_LOCAL": {
                                "default-action": "drop",
                                "description": "packets from guest network to gateway",
                                "rule": {
                                        "3001": {
                                                "action": "accept",
                                                "description": "allow DNS",
                                                "destination": {
                                                        "port": "53"
                                                },
                                                "protocol": "udp"
                                        },
                                        "3002": {
                                                "action": "accept",
                                                "description": "allow ICMP",
                                                "protocol": "icmp"
                                        }
                                }
                        },
                        "GUESTv6_OUT": {
                                "default-action": "accept",
                                "description": "packets forward to guest network"
                        },
                        "LANv6_IN": {
                                "default-action": "accept",
                                "description": "packets from intranet"
                        },
                        "LANv6_LOCAL": {
                                "default-action": "accept",
                                "description": "packets from intranet to gateway"
                        },
                        "LANv6_OUT": {
                                "default-action": "accept",
                                "description": "packets forward to intranet"
                        },
                        "WANv6_IN": {
                                "default-action": "drop",
                                "description": "packets from internet to intranet",
                                "rule": {
                                        "3001": {
                                                "action": "accept",
                                                "description": "allow established/related sessions",
                                                "state": {
                                                        "established": "enable",
                                                        "invalid": "disable",
                                                        "new": "disable",
                                                        "related": "enable"
                                                }
                                        },
                                        "3002": {
                                                "action": "drop",
                                                "description": "drop invalid state",
                                                "state": {
                                                        "established": "disable",
                                                        "invalid": "enable",
                                                        "new": "disable",
                                                        "related": "disable"
                                                }
                                        }
                                }
                        },
                        "WANv6_LOCAL": {
                                "default-action": "drop",
                                "description": "packets from internet to gateway",
                                "rule": {
                                        "3001": {
                                                "action": "accept",
                                                "description": "Allow neighbor advertisements",
                                                "icmpv6": {
                                                        "type": "neighbor-advertisement"
                                                },
                                                "protocol": "ipv6-icmp"
                                        },
                                        "3002": {
                                                "action": "accept",
                                                "description": "Allow neighbor solicitation",
                                                "icmpv6": {
                                                        "type": "neighbor-solicitation"
                                                },
                                                "protocol": "ipv6-icmp"
                                        },
                                        "3003": {
                                                "action": "accept",
                                                "description": "allow established/related sessions",
                                                "state": {
                                                        "established": "enable",
                                                        "invalid": "disable",
                                                        "new": "disable",
                                                        "related": "enable"
                                                }
                                        },
                                        "3004": {
                                                "action": "drop",
                                                "description": "drop invalid state",
                                                "state": {
                                                        "established": "disable",
                                                        "invalid": "enable",
                                                        "new": "disable",
                                                        "related": "disable"
                                                }
                                        }
                                }
                        },
                        "WANv6_OUT": {
                                "default-action": "accept",
                                "description": "packets to internet"
                        }
                },
                "name": {
                        "AUTHORIZED_GUESTS": {
                                "default-action": "drop",
                                "description": "authorization check packets from guest network"
                        },
                        "GUEST_IN": {
                                "default-action": "accept",
                                "description": "packets from guest network",
                                "rule": {
                                        "3001": {
                                                "action": "accept",
                                                "description": "allow DNS packets to external name servers",
                                                "destination": {
                                                        "port": "53"
                                                },
                                                "protocol": "tcp_udp"
                                        },
                                        "3002": {
                                                "action": "accept",
                                                "description": "allow packets to captive portal",
                                                "destination": {
                                                        "group": {
                                                                "network-group": "captive_portal_subnets"
                                                        },
                                                        "port": "443"
                                                },
                                                "protocol": "tcp"
                                        },
                                        "3003": {
                                                "action": "accept",
                                                "description": "allow packets to allow subnets",
                                                "destination": {
                                                        "group": {
                                                                "address-group": "guest_pre_allow"
                                                        }
                                                }
                                        },
                                        "3004": {
                                                "action": "drop",
                                                "description": "drop packets to restricted subnets",
                                                "destination": {
                                                        "group": {
                                                                "address-group": "guest_restricted"
                                                        }
                                                }
                                        },
                                        "3005": {
                                                "action": "drop",
                                                "description": "drop packets to intranet",
                                                "destination": {
                                                        "group": {
                                                                "network-group": "corporate_network"
                                                        }
                                                }
                                        },
                                        "3006": {
                                                "action": "drop",
                                                "description": "drop packets to remote user",
                                                "destination": {
                                                        "group": {
                                                                "network-group": "remote_user_vpn_network"
                                                        }
                                                }
                                        },
                                        "3007": {
                                                "action": "drop",
                                                "description": "allow authorized and drop unauthorized",
                                                "destination": {
                                                        "group": {
                                                                "address-group": "authorized_guests"
                                                        }
                                                }
                                        }
                                }
                        },
                        "GUEST_LOCAL": {
                                "default-action": "drop",
                                "description": "packets from guest network to gateway",
                                "rule": {
                                        "3001": {
                                                "action": "accept",
                                                "description": "allow DNS",
                                                "destination": {
                                                        "port": "53"
                                                },
                                                "protocol": "tcp_udp"
                                        },
                                        "3002": {
                                                "action": "accept",
                                                "description": "allow ICMP",
                                                "protocol": "icmp"
                                        },
                                        "3003": {
                                                "action": "accept",
                                                "description": "allow to DHCP server",
                                                "destination": {
                                                        "port": "67"
                                                },
                                                "protocol": "udp",
                                                "source": {
                                                        "port": "68"
                                                }
                                        },
                                        "3004": {
                                                "action": "accept",
                                                "description": "allow to RADIUS authentication",
                                                "destination": {
                                                        "port": "1812"
                                                },
                                                "protocol": "udp"
                                        },
                                        "3005": {
                                                "action": "accept",
                                                "description": "allow to RADIUS accounting",
                                                "destination": {
                                                        "port": "1813"
                                                },
                                                "protocol": "udp"
                                        }
                                }
                        },
                        "GUEST_OUT": {
                                "default-action": "accept",
                                "description": "packets forward to guest network"
                        },
                        "LAN_IN": {
                                "default-action": "accept",
                                "description": "packets from intranet",
                                "rule": {
                                        "6001": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.4.0/24",
                                                "source": {
                                                        "address": "10.0.4.0/24"
                                                }
                                        },
                                        "6002": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.30.0/24",
                                                "source": {
                                                        "address": "10.0.30.0/24"
                                                }
                                        },
                                        "6003": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.20.0/24",
                                                "source": {
                                                        "address": "10.0.20.0/24"
                                                }
                                        },
                                        "6004": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.10.0/24",
                                                "source": {
                                                        "address": "10.0.10.0/24"
                                                }
                                        },
                                        "6005": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.60.0/24",
                                                "source": {
                                                        "address": "10.0.60.0/24"
                                                }
                                        }
                                }
                        },
                        "LAN_LOCAL": {
                                "default-action": "accept",
                                "description": "packets from intranet to gateway"
                        },
                        "LAN_OUT": {
                                "default-action": "accept",
                                "description": "packets forward to intranet",
                                "rule": {
                                        "6001": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.4.0/24",
                                                "destination": {
                                                        "address": "10.0.4.0/24"
                                                }
                                        },
                                        "6002": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.30.0/24",
                                                "destination": {
                                                        "address": "10.0.30.0/24"
                                                }
                                        },
                                        "6003": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.20.0/24",
                                                "destination": {
                                                        "address": "10.0.20.0/24"
                                                }
                                        },
                                        "6004": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.10.0/24",
                                                "destination": {
                                                        "address": "10.0.10.0/24"
                                                }
                                        },
                                        "6005": {
                                                "action": "accept",
                                                "description": "accounting defined network 10.0.60.0/24",
                                                "destination": {
                                                        "address": "10.0.60.0/24"
                                                }
                                        }
                                }
                        },
                        "WAN_IN": {
                                "default-action": "drop",
                                "description": "packets from internet to intranet",
                                "rule": {
                                        "2000": {
                                                "action": "accept",
                                                "description": "Allow Plex",
                                                "destination": {
                                                        "group": {
                                                                "port-group": "61d7d6b271352004610545d1"
                                                        }
                                                },
                                                "log": "enable",
                                                "protocol": "all"
                                        },
                                        "3001": {
                                                "action": "accept",
                                                "description": "allow established/related sessions",
                                                "state": {
                                                        "established": "enable",
                                                        "invalid": "disable",
                                                        "new": "disable",
                                                        "related": "enable"
                                                }
                                        },
                                        "3002": {
                                                "action": "drop",
                                                "description": "drop invalid state",
                                                "state": {
                                                        "established": "disable",
                                                        "invalid": "enable",
                                                        "new": "disable",
                                                        "related": "disable"
                                                }
                                        }
                                }
                        },
                        "WAN_LOCAL": {
                                "default-action": "drop",
                                "description": "packets from internet to gateway",
                                "rule": {
                                        "3001": {
                                                "action": "accept",
                                                "description": "allow established/related sessions",
                                                "state": {
                                                        "established": "enable",
                                                        "invalid": "disable",
                                                        "new": "disable",
                                                        "related": "enable"
                                                }
                                        },
                                        "3002": {
                                                "action": "drop",
                                                "description": "drop invalid state",
                                                "state": {
                                                        "established": "disable",
                                                        "invalid": "enable",
                                                        "new": "disable",
                                                        "related": "disable"
                                                }
                                        },
                                        "3003": {
                                                "action": "accept",
                                                "description": "allow L2TP ISAKMP",
                                                "destination": {
                                                        "port": "500"
                                                },
                                                "protocol": "udp"
                                        },
                                        "3004": {
                                                "action": "accept",
                                                "description": "allow L2TP NAT-T",
                                                "destination": {
                                                        "port": "4500"
                                                },
                                                "protocol": "udp"
                                        },
                                        "3005": {
                                                "action": "accept",
                                                "description": "allow L2TP ESP",
                                                "protocol": "esp"
                                        },
                                        "3006": {
                                                "action": "accept",
                                                "description": "allow L2TP",
                                                "destination": {
                                                        "port": "1701"
                                                },
                                                "ipsec": "match-ipsec",
                                                "protocol": "udp"
                                        }
                                }
                        },
                        "WAN_OUT": {
                                "default-action": "accept",
                                "description": "packets to internet"
                        }
                },
                "options": {
                        "mss-clamp": {
                                "interface-type": [
                                        "pppoe",
                                        "pptp",
                                        "vti"
                                ],
                                "mss": "1452"
                        },
                        "mss-clamp6": {
                                "interface-type": [
                                        "pppoe",
                                        "pptp"
                                ],
                                "mss": "1432"
                        }
                },
                "receive-redirects": "disable",
                "send-redirects": "enable",
                "source-validation": "strict",
                "syn-cookies": "enable"
        },
        "protocols": {
                "bgp": {
                        "65515": {
                                "neighbor": {

                                }
                        }
                }
        } 
        "interfaces": {
                "ethernet": {
                        "eth0": {
                                "address": [
                                        "10.0.4.1/24"
                                ],
                                "description": "LAN",
                                "firewall": {
                                        "in": {
                                                "ipv6-name": "LANv6_IN",
                                                "name": "LAN_IN"
                                        },
                                        "local": {
                                                "ipv6-name": "LANv6_LOCAL",
                                                "name": "LAN_LOCAL"
                                        },
                                        "out": {
                                                "ipv6-name": "LANv6_OUT",
                                                "name": "LAN_OUT"
                                        }
                                },
                                "vif": {
                                        "10": {
                                                "address": [
                                                        "10.0.10.1/24"
                                                ],
                                                "firewall": {
                                                        "in": {
                                                                "ipv6-name": "LANv6_IN",
                                                                "name": "LAN_IN"
                                                        },
                                                        "local": {
                                                                "ipv6-name": "LANv6_LOCAL",
                                                                "name": "LAN_LOCAL"
                                                        },
                                                        "out": {
                                                                "ipv6-name": "LANv6_OUT",
                                                                "name": "LAN_OUT"
                                                        }
                                                }
                                        },
                                        "20": {
                                                "address": [
                                                        "10.0.20.1/24"
                                                ],
                                                "firewall": {
                                                        "in": {
                                                                "ipv6-name": "LANv6_IN",
                                                                "name": "LAN_IN"
                                                        },
                                                        "local": {
                                                                "ipv6-name": "LANv6_LOCAL",
                                                                "name": "LAN_LOCAL"
                                                        },
                                                        "out": {
                                                                "ipv6-name": "LANv6_OUT",
                                                                "name": "LAN_OUT"
                                                        }
                                                }
                                        },
                                        "30": {
                                                "address": [
                                                        "10.0.30.1/24"
                                                ],
                                                "firewall": {
                                                        "in": {
                                                                "ipv6-name": "LANv6_IN",
                                                                "name": "LAN_IN"
                                                        },
                                                        "local": {
                                                                "ipv6-name": "LANv6_LOCAL",
                                                                "name": "LAN_LOCAL"
                                                        },
                                                        "out": {
                                                                "ipv6-name": "LANv6_OUT",
                                                                "name": "LAN_OUT"
                                                        }
                                                }
                                        },
                                        "60": {
                                                "address": [
                                                        "10.0.60.1/24"
                                                ],
                                                "firewall": {
                                                        "in": {
                                                                "ipv6-name": "LANv6_IN",
                                                                "name": "LAN_IN"
                                                        },
                                                        "local": {
                                                                "ipv6-name": "LANv6_LOCAL",
                                                                "name": "LAN_LOCAL"
                                                        },
                                                        "out": {
                                                                "ipv6-name": "LANv6_OUT",
                                                                "name": "LAN_OUT"
                                                        }
                                                }
                                        }
                                }
                        },
                        "eth1": {
                                "disable": "''"
                        },
                        "eth2": {
                                "address": [
                                        "dhcp"
                                ],
                                "description": "WAN",
                                "dhcp-options": {
                                        "client-option": [
                                                "retry 60;"
                                        ],
                                        "default-route-distance": "1",
                                        "name-server": "no-update"
                                },
                                "firewall": {
                                        "in": {
                                                "ipv6-name": "WANv6_IN",
                                                "name": "WAN_IN"
                                        },
                                        "local": {
                                                "ipv6-name": "WANv6_LOCAL",
                                                "name": "WAN_LOCAL"
                                        },
                                        "out": {
                                                "ipv6-name": "WANv6_OUT",
                                                "name": "WAN_OUT"
                                        }
                                }
                        },
                        "eth3": {
                                "disable": "''"
                        }
                },
                "loopback": {
                        "lo": "''"
                }
        },
        "port-forward": {
                "auto-firewall": "disable",
                "hairpin-nat": "enable",
                "lan-interface": [
                        "eth0.10",
                        "eth0.20",
                        "eth0.30",
                        "eth0.60",
                        "eth0"
                ],
                "rule": {
                        "3001": {
                                "description": "arkserver",
                                "forward-to": {
                                        "address": "10.0.30.139"
                                },
                                "original-port": "7777-7778,27015-27022",
                                "protocol": "tcp_udp"
                        },
                        "3002": {
                                "description": "minecraft",
                                "forward-to": {
                                        "address": "10.0.30.124"
                                },
                                "original-port": "25565",
                                "protocol": "tcp_udp"
                        },
                        "3003": {
                                "description": "plex",
                                "forward-to": {
                                        "address": "10.0.10.58"
                                },
                                "original-port": "32400",
                                "protocol": "tcp_udp"
                        }
                },
                "wan-interface": "eth2"
        },
        "service": {
                "dhcp-server": {
                        "disabled": "false",
                        "global-parameters": [
                                "class &quot;denied&quot; { match substring (hardware, 1, 6); deny booting; } subclass &quot;denied&quot; 74:83:c2:1a:35:8d; subclass &quot;denied&quot; 74:83:c2:1a:35:8e; subclass &quot;denied&quot; 74:83:c2:1a:35:8f; subclass &quot;denied&quot; 74:83:c2:1a:35:90;"
                        ],
                        "hostfile-update": "enable",
                        "shared-network-name": {
                                "net_Int_Streaming_eth0_10.0.60.0-24": {
                                        "authoritative": "enable",
                                        "description": "vlan60",
                                        "subnet": {
                                                "10.0.60.0/24": {
                                                        "default-router": "10.0.60.1",
                                                        "dns-server": [
                                                                "1.1.1.1",
                                                                "1.0.0.1"
                                                        ],
                                                        "lease": "86400",
                                                        "ntp-server": [
                                                                "129.6.15.28",
                                                                "129.6.15.29"
                                                        ],
                                                        "start": {
                                                                "10.0.60.6": {
                                                                        "stop": "10.0.60.254"
                                                                }
                                                        }
                                                }
                                        }
                                },
                                "net_Management_VLAN_eth0_10.0.4.0-24": {
                                        "authoritative": "enable",
                                        "description": "vlan1",
                                        "subnet": {
                                                "10.0.4.0/24": {
                                                        "default-router": "10.0.4.1",
                                                        "dns-server": [
                                                                "10.0.4.1"
                                                        ],
                                                        "domain-name": "bsorenson.io",
                                                        "lease": "86400",
                                                        "start": {
                                                                "10.0.4.50": {
                                                                        "stop": "10.0.4.254"
                                                                }
                                                        }
                                                }
                                        }
                                },
                                "net_Server_VLAN_eth0_10.0.30.0-24": {
                                        "authoritative": "enable",
                                        "description": "vlan30",
                                        "subnet": {
                                                "10.0.30.0/24": {
                                                        "default-router": "10.0.30.1",
                                                        "dns-server": [
                                                                "1.0.0.1",
                                                                "1.1.1.1"
                                                        ],
                                                        "domain-name": "bsorenson.io",
                                                        "lease": "86400",
                                                        "start": {
                                                                "10.0.30.50": {
                                                                        "stop": "10.0.30.254"
                                                                }
                                                        },
                                                        "unifi-controller": "10.0.4.10"
                                                }
                                        }
                                },
                                "net_Wired_VLAN_eth0_10.0.10.0-24": {
                                        "authoritative": "enable",
                                        "description": "vlan10",
                                        "subnet": {
                                                "10.0.10.0/24": {
                                                        "default-router": "10.0.10.1",
                                                        "dns-server": [
                                                                "1.0.0.1",
                                                                "1.1.1.1"
                                                        ],
                                                        "domain-name": "bsorenson.io",
                                                        "lease": "86400",
                                                        "start": {
                                                                "10.0.10.50": {
                                                                        "stop": "10.0.10.254"
                                                                }
                                                        },
                                                        "unifi-controller": "10.0.30.220"
                                                }
                                        }
                                },
                                "net_Wireless_VLAN_eth0_10.0.20.0-24": {
                                        "authoritative": "enable",
                                        "description": "vlan20",
                                        "subnet": {
                                                "10.0.20.0/24": {
                                                        "default-router": "10.0.20.1",
                                                        "dns-server": [
                                                                "1.0.0.1",
                                                                "1.1.1.1"
                                                        ],
                                                        "domain-name": "bsorenson.io",
                                                        "lease": "86400",
                                                        "start": {
                                                                "10.0.20.50": {
                                                                        "stop": "10.0.20.254"
                                                                }
                                                        },
                                                        "unifi-controller": "10.0.30.220"
                                                }
                                        }
                                }
                        },
                        "use-dnsmasq": "disable"
                },
                "dns": {
                        "forwarding": {
                                "cache-size": "10000",
                                "except-interface": [
                                        "eth2"
                                ],
                                "options": [
                                        "all-servers",
                                        "cname=unifi.bsorenson.io,unifi",
                                        "server=10.0.30.63",
                                        "host-record=unifi,10.0.4.10"
                                ]
                        }
                },
                "gui": {
                        "https-port": "443"
                },
                "lldp": {
                        "interface": {
                                "eth2": {
                                        "disable": "''"
                                }
                        }
                },
                "mdns": {
                        "reflector": "''"
                },
                "nat": {
                        "rule": {
                                "6001": {
                                        "description": "MASQ corporate_network to WAN",
                                        "log": "disable",
                                        "outbound-interface": "eth2",
                                        "protocol": "all",
                                        "source": {
                                                "group": {
                                                        "network-group": "corporate_network"
                                                }
                                        },
                                        "type": "masquerade"
                                },
                                "6002": {
                                        "description": "MASQ remote_user_vpn_network to WAN",
                                        "log": "disable",
                                        "outbound-interface": "eth2",
                                        "protocol": "all",
                                        "source": {
                                                "group": {
                                                        "network-group": "remote_user_vpn_network"
                                                }
                                        },
                                        "type": "masquerade"
                                },
                                "6003": {
                                        "description": "MASQ guest_network to WAN",
                                        "log": "disable",
                                        "outbound-interface": "eth2",
                                        "protocol": "all",
                                        "source": {
                                                "group": {
                                                        "network-group": "guest_network"
                                                }
                                        },
                                        "type": "masquerade"
                                }
                        }
                },
                "radius-server": {
                        "acct-port": 1813,
                        "auth-port": 1812,
                        "enable": "''",
                        "interim-update-interval": 3600,
                        "tunneled-reply": "''",
                        "user": {
                                "brsoren": {
                                        "encoded-password": "''",
                                        "password": "YWQ1OSRxakE=",
                                        "tunnel-param": "3 1",
                                        "vlan": 50
                                },
                                "test": {
                                        "encoded-password": "''",
                                        "password": "YWQ1OSRxakE=",
                                        "tunnel-param": "3 1"
                                },
                                "xiguazhi": {
                                        "encoded-password": "''",
                                        "password": "YWQ1OTRxakE=",
                                        "tunnel-param": "3 1",
                                        "vlan": 50
                                }
                        }
                },
                "snmp": {
                        "community": {
                                "newstring": {
                                        "authorization": "ro"
                                }
                        }
                },
                "ssh": {
                        "port": "22",
                        "protocol-version": "v2"
                },
                "upnp2": {
                        "acl": {
                                "rule": {
                                        "1": {
                                                "action": "deny",
                                                "external-port": "500",
                                                "local-port": "500",
                                                "subnet": "10.0.4.1/24"
                                        },
                                        "2": {
                                                "action": "deny",
                                                "external-port": "4500",
                                                "local-port": "4500",
                                                "subnet": "10.0.4.1/24"
                                        },
                                        "3": {
                                                "action": "deny",
                                                "external-port": "500",
                                                "local-port": "500",
                                                "subnet": "10.0.30.1/24"
                                        },
                                        "4": {
                                                "action": "deny",
                                                "external-port": "4500",
                                                "local-port": "4500",
                                                "subnet": "10.0.30.1/24"
                                        },
                                        "5": {
                                                "action": "deny",
                                                "external-port": "500",
                                                "local-port": "500",
                                                "subnet": "10.0.20.1/24"
                                        },
                                        "6": {
                                                "action": "deny",
                                                "external-port": "4500",
                                                "local-port": "4500",
                                                "subnet": "10.0.20.1/24"
                                        },
                                        "7": {
                                                "action": "deny",
                                                "external-port": "500",
                                                "local-port": "500",
                                                "subnet": "10.0.10.1/24"
                                        },
                                        "8": {
                                                "action": "deny",
                                                "external-port": "4500",
                                                "local-port": "4500",
                                                "subnet": "10.0.10.1/24"
                                        }
                                }
                        },
                        "listen-on": [
                                "eth0",
                                "eth0.30",
                                "eth0.20",
                                "eth0.10"
                        ],
                        "nat-pmp": "enable",
                        "secure-mode": "enable",
                        "wan": "eth2"
                }
        },
        "system": {
                "conntrack": {
                        "modules": {
                                "sip": "disable"
                        },
                        "timeout": {
                                "icmp": 30,
                                "other": 600,
                                "tcp": {
                                        "close": 10,
                                        "close-wait": 60,
                                        "established": 7440,
                                        "fin-wait": 120,
                                        "last-ack": 30,
                                        "syn-recv": 60,
                                        "syn-sent": 120,
                                        "time-wait": 120
                                },
                                "udp": {
                                        "other": 30,
                                        "stream": 180
                                }
                        }
                },
                "domain-name": "bsorenson.io",
                "ip": {
                        "arp": {
                                "table-size": "262144"
                        },
                        "override-hostname-ip": "10.0.4.1"
                },
                "login": {
                        "user": {
                                "xiguazhi": {
                                        "authentication": {
                                                "encrypted-password": "$6$pFbJCIIV$d/2AI6StR2865s.mD9ST4.LJaMM5nci6JW3tMUHVPWJgJc08RiBVELXf.l9//B3m57Rwi6qvJjHufkgblAWmt/",
                                                "public-keys": {
                                                        "xiguazhi@DESKTOP-9ORJ4RK": {
                                                                "key": "AAAAB3NzaC1yc2EAAAADAQABAAABgQC3p20c1OEQLBj3wUWFxNQOt1X4KZsge3kXzVUWEzC4dFyFZVV/uzUwAa0G7IOWIgBjlzBt1EV6WS5Tx2M8Iu/1Bf1tseDQAGnDe2+FgQSsCvljOe4eQhhe7KtJ5cAX415bUHJKaJzimiqfXhv23w6b0QXTElZ19A3shc1cS+DEiFMPBC5ErGMFhqZRvz+dL/F+/aFki6ud7IEKAPwaGuX7okvjwy9NiBVU+NrRBDmF78cb152pAPA4FPr4vvgpvb4QEqd2iHoeDZq541ChgzOP+4T4mZJdWahX1rec4bA7iiXX+TXYBFbSNuy/2MWA7Lskf7B0GwmYqd9mUX6R8HfSqeKodcrntQgjsfUlVy6UOwq0SUH8g7anpt8h72j2NoHkl8K0/k5r8lNbv27peaHuJBxOthf0AAttg9jzrZoWXzVtzsyl6jOtW09HrWB99LisC+iDvmrq2BHRAbnDWlw0iwjd4cwHQ7atVz6TQm+2RI2/Z0gGduhjDMYhLrY07XE=",
                                                                "type": "ssh-rsa"
                                                        },
                                                        "xiguazhi@DESKTOP-E6SPMON": {
                                                                "key": "AAAAB3NzaC1yc2EAAAADAQABAAACAQDAZAjmWXIZkx53IP1NIUa50+Tr8kAz8MyCXBJQN7vZ3ZrVdpeW9shj972vPoEDv0EPPnPWBdHNiVeCj0TjaeeLNPg343ji98prfTOtJciPS0Dogemf0yPVRFkTpYoTaDf/Xgjdf+76Xwdsjnol0on3V7Zjjkt0K8t43uTB5OjAzNkxHyvHmSZGOAW8B1/Ue98agf8HiUz8UERtAQG52f7gUjuX+bXCG3uKF6jUzJ6AV7XoPuvCngJshJtMKX4TVm9p+rUy3Fo6BXS1oNnXxS2BIPB/3kq57ZUEAr8guKSQfj9CTb2Bzmp+53Pv3iRq3s2Ae7gN95ItqRvL7tyniUJFDHZ6XbSyBoz7bNCyXTxMfL7wkePz8KhuI6jTqVzns8fym/eKqfmacWYywc2KqWaewtZWN4gxJatJvkqzRXmNVj4K3r3UJtiOdpGJwSOfbV9hEZHsNXhpA/3vXyM3555h93O13dKGOmupVGATQT1wpg6UDwyofYGUGUrRLIk1zIuXduJeuh1zUxZGtJiPIZgeLRVcdqWsp8P4OXVUwaVyVxbt3asXKIoWTdVrtf4DqiVD8NrFgU3lH2YqL3Bhl+AnlpCoYfd3VQtdauVaNXEduRuAtptwLu5I19rnDePrL6NBdMESBPSvhHPGHfG5m9xe7wPP7NHJFvCwA/1JsC3Fpw==",
                                                                "type": "ssh-rsa"
                                                        },
                                                        "xiguazhi@DESKTOP-LVO4ICF": {
                                                                "key": "AAAAB3NzaC1yc2EAAAADAQABAAABgQCw0fg4PYhRjeMerr8xLqcWz5fBSkK0qvNFYW6s2X8RhplqpNUVIMXW2FwmpD2mFbsLgMxGWQjZrR8Rjn8Zg95Q4r9hvOei8UtqXPrylxkP2eEPiKWM9j2etksoMY54F2Ojvnhz48u47oNGNicbT+XyBTLNg9OXwRS/Wdl17L0uLgp29EptWPN28p8DMSzGfkaU6GurblxbjkQCgYR3rM5HWCk6WApyxa2b7pvAykDHlvyQY1RejBTjCeh80Y7Yo8HoqvuQ7QZHUWACiVDGe1MWFNHwGcaAUgltNqUTS3w1cFpVLyryAudD9SPwNFk+v2qYaZo31gat7t0Q+yTNv7Ry7cnsc9kjAmo82QVO9DaRxddzbEuh+ywpdnp7sE5y/UyCJPLXZvhTOaDbl8YJ/fhPVOefoJGm3IGKGvHUulRtTCHl2Yn3v4IL7iwBe/cGL1RAWmQIj5Uc4GgwxW/FggtQPwrPDYfmJM4GPaG1xfrE3e4DT/ydCKVeDIY5bEeBIWU=",
                                                                "type": "ssh-rsa"
                                                        }
                                                }
                                        },
                                        "level": "admin"
                                }
                        }
                },
                "name-server": "127.0.0.1",
                "ntp": {
                        "server": [
                                "0.ubnt.pool.ntp.org",
                                "1.ubnt.pool.ntp.org",
                                "2.ubnt.pool.ntp.org",
                                "3.ubnt.pool.ntp.org"
                        ]
                },
                "offload": {
                        "ipsec": "enable",
                        "ipv4": {
                                "forwarding": "enable",
                                "gre": "enable",
                                "pppoe": "enable",
                                "vlan": "enable"
                        },
                        "ipv6": {
                                "forwarding": "enable",
                                "vlan": "enable"
                        }
                },
                "static-host-mapping": {
                        "host-name": {
                                "setup.ubnt.com": {
                                        "alias": [
                                                "setup"
                                        ],
                                        "inet": [
                                                "10.0.4.1"
                                        ]
                                }
                        }
                },
                "syslog": {
                        "global": {
                                "facility": {
                                        "all": {
                                                "level": "notice"
                                        },
                                        "protocols": {
                                                "level": "debug"
                                        }
                                }
                        }
                },
                "time-zone": "America/Denver",
                "traffic-analysis": {
                        "dpi": "enable",
                        "export": "disable"
                }
        },
        "unifi": {
                "mgmt": {
                        "cfgversion": "8e0152b25b27a764"
                }
        },
        "vpn": {
                "ipsec": {
                        "ipsec-interfaces": {
                                "interface": [
                                        "eth2"
                                ]
                        },
                        "nat-networks": {
                                "allowed-network": {
                                        "0.0.0.0/0": "''"
                                }
                        },
                        "nat-traversal": "enable"
                },
                "l2tp": {
                        "remote-access": {
                                "authentication": {
                                        "mode": "radius",
                                        "radius-server": {
                                                "10.0.4.1": {
                                                        "key": "1cbe991a14",
                                                        "port": "1812"
                                                }
                                        },
                                        "require": "mschap-v2"
                                },
                                "client-ip-pool": {
                                        "start": "10.0.50.6",
                                        "stop": "10.0.50.254"
                                },
                                "dhcp-interface": "eth2",
                                "dns-servers": {
                                        "server-1": "1.1.1.1",
                                        "server-2": "1.0.0.1"
                                },
                                "ipsec-settings": {
                                        "authentication": {
                                                "mode": "pre-shared-secret",
                                                "pre-shared-secret": "1cbe991a14"
                                        },
                                        "ike-lifetime": "3600"
                                }
                        }
                }
        }
}