#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
text
# Use network installation
url --mirrorlist="http://mirrorlist.centos.org/?release=8&arch=x86_64&repo=BaseOS&infra=$infra"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=centos8-image.local
# Root password
rootpw --iscrypted $5$/Cnz5tWbu0Vxk540$7qwRsOZmgiTQZywoaD7.WSLbnorG3JxwmXURr4jG3AB
firewall --disabled
selinux --disabled
# Run the Setup Agent on first boot
firstboot --disabled
eula --agreed
# Do not configure the X Window System
skipx
# System services
services --enabled=chronyd,NetworkManager,sshd
# System timezone
timezone Europe/Rome --isUtc
user --groups=sudo --name=svc-ansible --password=$6$Uvt/IsF423hPGL2z$AslynE0Uq9qY0.DRIcJYjcCyptplKnB2jMR8d1Tl8sexXCL5.RqSQnD/2y9kvLXvIn1Ql3nyco8HfcylKI43H/ --iscrypted
#---- Install our SSH key ----
mkdir -m0700 /home/svc-ansible/.ssh/

cat <<EOF >/root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCw0fg4PYhRjeMerr8xLqcWz5fBSkK0qvNFYW6s2X8RhplqpNUVIMXW2FwmpD2mFbsLgMxGWQjZrR8Rjn8Zg95Q4r9hvOei8UtqXPrylxkP2eEPiKWM9j2etksoMY54F2Ojvnhz48u47oNGNicbT+XyBTLNg9OXwRS/Wdl17L0uLgp29EptWPN28p8DMSzGfkaU6GurblxbjkQCgYR3rM5HWCk6WApyxa2b7pvAykDHlvyQY1RejBTjCeh80Y7Yo8HoqvuQ7QZHUWACiVDGe1MWFNHwGcaAUgltNqUTS3w1cFpVLyryAudD9SPwNFk+v2qYaZo31gat7t0Q+yTNv7Ry7cnsc9kjAmo82QVO9DaRxddzbEuh+ywpdnp7sE5y/UyCJPLXZvhTOaDbl8YJ/fhPVOefoJGm3IGKGvHUulRtTCHl2Yn3v4IL7iwBe/cGL1RAWmQIj5Uc4GgwxW/FggtQPwrPDYfmJM4GPaG1xfrE3e4DT/ydCKVeDIY5bEeBIWU= xiguazhi@DESKTOP-LVO4ICF
EOF

sed -i 's/#PubkeyAuthentication yes/PubkeyAuthentication yes' /etc/ssh/sshd_config

### set permissions
chmod 0600 /home/svc-ansible/authorized_keys

### fix up selinux context
restorecon -R /home/svc-ansible/.ssh/
reboot

%packages --ignoremissing
@^minimal-environment
#@standard
kexec-tools

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
%post
exec < /dev/tty3 > /dev/tty3
chvt 3
echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
(
export PYTHON_VERSION=3.10.10
/usr/bin/yum-builddep python python-libs
/usr/bin/yum install libffi-devel sqlite-devel zlib zlib-devel
/usr/bin/curl -O https://www.python.org/ftp/python/${PYTHON_VERSION}/Python-${PYTHON_VERSION}.tgz
/usr/bin/tar -xvzf Python-${PYTHON_VERSION}.tgz
cd Python-${PYTHON_VERSION}
/configure \
    --prefix=/opt/python/${PYTHON_VERSION} \
    --enable-shared \
    --enable-optimizations \
    --enable-ipv6 \
    LDFLAGS=-Wl,-rpath=/opt/python/${PYTHON_VERSION}/lib,--disable-new-dtags
/usr/bin/make
/usr/bin/make install
/usr/bin/curl -O https://bootstrap.pypa.io/get-pip.py
/opt/python/${PYTHON_VERSION}/bin/python${PYTHON_MAJOR} get-pip.py
/usr/bin/pip3 -y install ansible
/usr/bin/yum -y install drpm sudo
/usr/bin/yum -y update
echo "svc-ansible        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

) 2>&1 | /usr/bin/tee /var/log/post_install.log
chvt 1

%end